networks:
    database-access:
        driver: bridge
    proxy-network:
        driver: bridge
    canvas-access:
        driver: bridge
    internal-api-bridge:
        driver: bridge

services:
    nginx-webserver:
        container_name: nginx-webserver
        image: nginx:latest
        restart: unless-stopped
        ports:
            - "80:80"
        volumes:
            - ./godot-export/html/:/usr/share/nginx/html/questivity/
            - ./nginx/nginx.conf/:/etc/nginx/nginx.conf
        depends_on:
            - homepage
            - questivity-server
            - godot-export
            - adminer
        networks:
            - proxy-network
            - canvas-access

    mysql-database:
        container_name: mysql-database
        image: mysql:latest
        restart: unless-stopped
        expose:
            - "3306"
        volumes:
            - ./mysql/:/docker-entrypoint-initdb.d
        environment:
            MYSQL_USER: mysql-user
            MYSQL_PASSWORD: mysql-pass
            MYSQL_ROOT_PASSWORD: mysql-root
            MYSQL_DATABASE: questivity-data
            TZ: "America/Los_Angeles"
        networks:
            - database-access
        depends_on:
            - dozzle-logs

    questivitydb-api:
        container_name: questivitydb-api
        build: ./questivitydb-api
        restart: unless-stopped
        expose:
            - "3000"
        environment:
            DB_HOST: mysql-database
            DB_USER: mysql-user
            DB_PASSWORD: mysql-pass
            DB_NAME: questivity-data
            TZ: "America/Los_Angeles"
            PORT: "3000"
            API_KEY: 9a1442ec-0d0a-4b76-9b1a-38a526d51f2a
        depends_on:
            - mysql-database
        networks:
            - database-access
            - internal-api-bridge
            - proxy-network

    questivity-server:
        container_name: questivity-server
        restart: unless-stopped
        build: ./questivity-server
        expose:
            - "5000"
        volumes:
            - ./questivity-server/src:/app
        environment:
            FLASK_ENV: development
            DB_API_KEY: 9a1442ec-0d0a-4b76-9b1a-38a526d51f2a
        depends_on:
            - questivitydb-api
        networks:
            - proxy-network
            - internal-api-bridge

    canvas-lms:
        container_name: canvas-lms
        image: lbjay/canvas-docker
        restart: unless-stopped
        expose:
            - "3000"
        networks:
            - canvas-access

    godot-export:
        container_name: godot-export
        image: beijingsoftware/godot-export:3.6-stable-html5
        restart: no
        volumes:
            - ../godot:/build/src
            - ./godot-export/html/:/build/output

    dozzle-logs:
        container_name: dozzle-logs
        restart: unless-stopped
        image: amir20/dozzle:latest
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        expose:
            - "8080"
        networks:
            - proxy-network

    adminer:
        container_name: adminer
        restart: unless-stopped
        image: adminer
        expose:
            - "8080"
        networks:
            - database-access
            - proxy-network

    homepage:
        container_name: homepage
        image: linuxserver/heimdall
        restart: unless-stopped
        environment:
            PUID: "1000"
            PGID: "1000"
        volumes:
            - ./homepage/app.sqlite:/config/www/app.sqlite
            - ./homepage/backgrounds:/config/www/backgrounds
            - ./homepage/icons:/config/www/icons
        expose:
            - "80"
        networks:
            - proxy-network
