site_name: Questivity Docs

# repo_url: https://github.com/csula-cs3337swe/202408Group8-repo

theme:
    name: material
    features:
        - navigation.tabs
        - navigation.sections
        - toc.integrate
        - navigation.top
        - search.suggest
        - search.highlight
        - content.tabs.link
        - content.code.annotation
        - content.code.copy
    language: en
    palette:
        - scheme: default
          toggle:
              icon: material/toggle-switch-off-outline
              name: Switch to dark mode
          primary: white
          accent: blue
        - scheme: slate
          toggle:
              icon: material/toggle-switch
              name: Switch to light mode
          primary: black
          accent: blue
    logo: assets/eddie-icon.png


markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra:
    social:
        - icon: fontawesome/brands/github-alt
          link: https://github.com/csula-cs3337swe/202408Group8-repo

markdown_extensions:
    - pymdownx.highlight:
          anchor_linenums: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - admonition
    - pymdownx.arithmatex:
          generic: true
    - footnotes
    - pymdownx.details
    - pymdownx.superfences
    - pymdownx.mark
    - attr_list

copyright: |
    &copy; 2024 <a href="https://github.com/csula-cs3337swe/202408Group8-repo" target="_blank" rel="noopener">Questivity</a>
